@using QuanLyKhoViewModels.Common
@model PagedResult<QuanLyKhoViewModels.System.Debt.DebtVm>
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-body">
            <div class="row">
                <div class="table-responsive" >
                <table id="DataTable" class="table table-bordered" >
                    <thead>
                        <tr>
                           <th>Mã khách hàng</th>
                           <th>Tên khách hàng</th>
                           <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                 
                                <td>
                                @Html.DisplayFor(modelItem => item.GuestID)
                                </td>
                                 <td>
                                @Html.DisplayFor(modelItem => item.GuestFName)   @Html.DisplayFor(modelItem => item.GuestLName)
                                </td>
                            <td>
                                @Html.ActionLink("Chi tiết", "HistoryById", new {  id = item.GuestID }, new {@class = "btn bg-warning text-decoration-none text-light"})
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>

