@model QuanLyKhoViewModels.System.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Nhập sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Script{
    <script>
setTimeout(function() {
    $('#msgAlert').fadeOut('slow');
}, 2000);
      
    </script>
}
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-body">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-danger" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
                    <h2 class="title">Nhập thông tin sản phẩm</h2>
                    <form asp-action="Create" method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                         <div class="row row-space">
                             <div class="col-2">
                                  <div class="input-group">
                                        <input asp-for="Id" class="input--style-1" type="text" placeholder="Mã sản phẩm">
                                  </div>
                                  <span asp-validation-for="Id" class="text-danger"></span>
                             </div>
                              <div class="col-2">
                                  <div class="input-group">
                                        <input asp-for="Name" class="input--style-1" type="text" placeholder="Tên sản phẩm">  
                                  </div>
                                   <span asp-validation-for="Name" class="text-danger"></span>
                             </div>
                         </div>
                        <div class="row row-space">
                           <div class="col-2">
                                <div class="input-group">
                                     <select asp-for="ToTalSum" class="form-select">
                                             <option disabled="disabled" >--Quy Cách(kg)--</option>
                                             <option selected="selected" value="5">5Kg</option>
                                             <option value="10">10Kg</option>
                                             <option value="15">15Kg</option>
                                             <option value="20">20Kg</option>
                                             <option value="25">25Kg</option>
                                             <option value="50">50Kg</option>
                                             <option value="100">100Kg</option>
                                        </select>
  
                                </div>
                                    <span asp-validation-for="ToTalSum" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                        <input asp-for="Quantity" class="input--style-1" type="number" placeholder="Số lượng">
                                  </div>
                                  <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input asp-for="OriginPrice" data-type="currency" class="input--style-1" type="text"  placeholder="Giá nhập: 1.000.000 vnđ">
                                </div>
                                    <span asp-validation-for="OriginPrice" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <input asp-for="SalesPrice" data-type="currency" class="input--style-1" type="text"  placeholder="Giá bán: 1.000.000 vnđ">
                                </div>
                                <span asp-validation-for="SalesPrice" class="text-danger"></span>
                            </div>
                        </div>
                         <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                    <input asp-for="ImportDate" class="input--style-1" type="text" value="@DateTime.Now" readonly>
                                </div>
                                    <span asp-validation-for="ImportDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

