@model QuanLyKhoViewModels.Catalog.Products.ProductCreateExRequest

@{
    ViewData["Title"] = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
@section confirm {
    <script>
      function myFunction() {
        let vehicle_tr = prompt("Nhập vào xe vận chuyển");
        let vehicle_take = prompt("Nhập vào nhà xe nhận hàng");
          if (vehicle_tr != null && vehicle_take != null) {
              backendfunc(vehicle_tr, vehicle_take);
          }
          else
              window.alert("Vui lòng nhập đủ thông tin! nhấn F5 để thử lại!");
    function backendfunc(vehicle_tr,vehicle_take) {
        $.ajax({
            url: "/Product/Report",
            //type: "POST",
            data: { "vehicle_trs": vehicle_tr, "vehicle_takes": vehicle_take},
            success: function (res) {
                $("#convertnum").html(res);
            },
            error: function (hata, ajaxoptions, throwerror) {
                $("#convertnum").html("convert failed");
            }
        });
    }
}
</script>
}
<div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <form asp-action="Sales" asp-controller="Product" method="POST">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row row-space">
                             <div class="col-2">
                                  <div class="input-group">
                                    <label asp-for="importID" class="control-label">Mã sản phẩm</label>
                                    <input asp-for="importID" class="input--style-1" type="text" readonly>
                                </div>
                                <span asp-validation-for="importID" class="text-danger"></span>
                             </div>
                              <div class="col-2">
                                   <div class="input-group">
                                        <label asp-for="Quantity" class="control-label">Số lượng bán</label>
                                    <input asp-for="Quantity" class="input--style-1" type="number">
                                    </div>
                                 <span asp-validation-for="Quantity" class="text-danger"></span>

                             </div>
                        </div>
                       
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label asp-for="ExDate" class="control-label"></label>
                                    <input asp-for="ExDate" class="input--style-1 js-datepicker" type="date">
                                </div>
                                 <span asp-validation-for="ExDate" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select class="form-select" name="guestID" asp-items="ViewBag.Guest">
                                             <option disabled="disabled" selected="selected">--Chọn mã khách hàng--</option>
                                        </select>
                                         <div class="select-dropdown"></div>
                                    </div>
                                      <span asp-validation-for="GuestID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                     <label  asp-for="SalesPrice" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"  class="control-label">Giá bán</label>
                                    <input asp-for="SalesPrice" data-type="currency" class="input--style-1" type="text"readonly>
                                </div>
                                <span asp-validation-for="SalesPrice" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                      <label asp-for="debttotal"  class="control-label">Số tiền nợ</label>
                                    <input asp-for="debttotal" data-type="currency" class="input--style-1" type="text">
                                </div>
                                 <span asp-validation-for="debttotal" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                 <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Tạo hóa đơn</button>
                        </div>
                               
                            </div>
                            <div class="col-2">
                                <div class="p-t-20">
                                    <form>
                                        <input asp-action="Report" class="btn bg-primary btn--radius btn--dark " type="submit" value="Xuất hóa đơn"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEX">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExDate" class="control-label"></label>
                <input asp-for="ExDate" class="form-control"/>
                <span asp-validation-for="ExDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="importID" class="control-label"></label>
                <input asp-for="importID" class="form-control"/>
                <span asp-validation-for="importID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesPrice" class="control-label"></label>
                <input asp-for="SalesPrice" class="form-control"/>
                <span asp-validation-for="SalesPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToTalSum" class="control-label"></label>
                <input asp-for="ToTalSum" class="form-control" />
                <span asp-validation-for="ToTalSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="debttotal" class="control-label"></label>
                <input asp-for="debttotal" class="form-control" />
                <span asp-validation-for="debttotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="guestID" asp-items="ViewBag.Guest">
                    <option>--Chọn mã khách hàng--</option>
                </select>
                <span asp-validation-for="GuestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id = "sub" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Quay về danh sách</a>
</div>
*@
